.SeeMoreSearchItems {
	display: block;
	background-color: var(--alternative-bg-color);
	box-sizing: border-box;
	padding: 10px 10px 10px 20px;
	border-radius: 10px;
	font-family: "Nunito", sans-serif;
	margin-top: 10px;
	display: flex;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	&:disabled {
		cursor: auto;
	}

	h4 {
		font-size: 16px;
		color: var(--main-elements-color);
	}
	h5 {
		font-size: 13px;
		color: var(--main-elements-color);
	}
	&-seeMore {
		display: flex;
		margin-left: 10px;
		align-items: center;
		flex: 1 1 auto;
		padding-right: 5px;
	}
	&-arrow {
		position: relative;
		margin-left: auto;
		align-items: center;
		height: 10px;
		width: 13px;
		span {
			top: 0;
			transform: rotate(45deg);
		}
		&::after {
			bottom: 0;
			transform: rotate(-45deg);
		}
		span,
		&::after {
			left: 0;
			right: 0;
			width: 100%;
			height: 2px;
			border-radius: 2px;
			background: var(--main-elements-color);
			content: "";
			position: absolute;
		}
	}
}
.search-titleNoOne {
	margin-top: 10px;
	color: var(--alpha8);
	text-align: center;
	font-size: 16px;
	font-family: "Nunito", sans-serif;
}
.SeeMoreSearchItems + .search-items {
	padding: 0px 7px;
	margin-top: 10px;
}
[theme="dark-theme"] .SeeMoreSearchItems {
	border: 2px solid transparent;
	border-bottom: 2px solid var(--alpha1);
	box-sizing: border-box;
}
