.logout-btns {
	display: flex;
	margin-top: 10px;
	justify-content: flex-end;
}
.logout-item {
	margin-right: 10px;
}
.logout-item.main {
	background: var(--carefully-color-1);
	color: #fff;
}
.logout-item.main:hover {
	background: var(--carefully-color-1);
}
@media (hover: "hover") {
	.logout-item.main:hover {
		background: var(--carefully-color-1);
	}
}
@media (hover: "none") {
	.logout-item.main:active {
		background: var(--carefully-color-1);
	}
}
