@use "../../UI/RetweetMessage/RetweetMessage.scss";

.messagePost {
	@extend %MessageElement;
	background-color: var(--main-bg-color);
	display: flex;

	&:not(:first-child) {
		margin-top: 6px;
	}
	.message-contant {
		display: block;
		flex: 1 1 auto;
		margin-left: 10px;
		padding-top: 5px;
		position: relative;
	}
	.user-info {
		display: flex;
		font-family: "Nunito", sans-serif;
		align-items: center;
	}
	.UserAvatar {
		height: 45px;
		width: 45px;
	}
	.user-image.mobile {
		display: none;
		margin-right: 10px;
	}
	.user-info .user-name {
		line-height: 35px;
		font-size: 20px;
	}
	.TextMessageContent {
		font-size: 18px;
	}
}

@media (max-width: 800px) {
	.user-image.computer {
		display: none;
	}
	.messagePost {
		display: block;
		.user-image.mobile {
			display: block;
		}
		.UserAvatar {
			height: 40px;
			width: 40px;
		}
	}
}
