.messagePost, .RetweetMessage {
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--main-elements-color);
  width: 100%;
}
.messagePost .message-info, .RetweetMessage .message-info {
  margin-top: 5px;
}
.messagePost .user-info, .RetweetMessage .user-info {
  display: flex;
}
.messagePost .user-info .user-name, .RetweetMessage .user-info .user-name {
  line-height: 20.5px;
  font-weight: 600;
}
.messagePost .user-info .user-email, .RetweetMessage .user-info .user-email {
  margin-left: 5px;
  color: var(--alpha6);
}
.messagePost .message-text, .RetweetMessage .message-text {
  white-space: pre-wrap;
  line-height: 18px;
  padding: 0px 5px;
  word-break: break-all;
}
.messagePost .hashtags, .RetweetMessage .hashtags {
  display: flex;
  margin-top: 4px;
}
.messagePost .hashtags a, .RetweetMessage .hashtags a {
  margin-left: 3px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #00aaec;
}
.messagePost .hashtags a:hover, .RetweetMessage .hashtags a:hover {
  text-decoration: underline;
}

.RetweetMessage {
  border: 2px solid var(--alpha3);
  margin-top: 10px;
  margin-bottom: 10px;
}
.RetweetMessage_user-information {
  display: flex;
  align-items: center;
}
.RetweetMessage_user-information .UserAvatar {
  height: 30px;
  width: 30px;
}
.RetweetMessage_user-information .user-name {
  margin-left: 5px;
  font-size: 16px;
}
.RetweetMessage_user-information .user-email {
  font-size: 15px;
}
.RetweetMessage .message-text {
  font-size: 16px;
}

.messagePost {
  background-color: var(--main-bg-color);
  display: flex;
}
.messagePost:not(:first-child) {
  margin-top: 6px;
}
.messagePost .message-contant {
  display: block;
  flex: 1 1 auto;
  margin-left: 10px;
  padding-top: 5px;
  position: relative;
}
.messagePost .user-info {
  display: flex;
  font-family: "Nunito", sans-serif;
}
.messagePost .likes.active {
  color: var(--main-elements-color);
}
.messagePost .likes.active .svg {
  fill: red;
}
.messagePost .likes.active .svg > * {
  stroke: red;
}
.messagePost .UserAvatar {
  height: 45px;
  width: 45px;
}

.message-rewiews {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}
.message-rewiews > * {
  margin-right: 5%;
  display: flex;
  gap: 6px;
  color: var(--alpha7);
  align-items: center;
}
.message-rewiews > * h5 {
  font-size: 16px;
}
.message-rewiews > * svg {
  stroke: var(--main-elements-color);
  fill: var(--main-elements-color);
}
.message-rewiews > *:last-child {
  margin-right: 10px;
}

.hiddenMenu {
  position: absolute;
  right: -1px;
  background: var(--main-bg-color);
  box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 5px 10px;
  top: -1px;
  display: none;
}
.hiddenMenu.active {
  display: block;
}

[theme=dark-theme] .hiddenMenu {
  border: 1px solid var(--grey-color-1);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  background: var(--second-bg-color);
}

.hiddenMenu-item {
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
  display: flex;
  border-radius: 5px;
}
.hiddenMenu-item h5 {
  line-height: 16px;
  font-family: "Nunito", sans-serif;
  font-size: inherit;
  font-weight: 600;
  margin-left: 6px;
}
.hiddenMenu-item svg {
  stroke: var(--main-elements-color);
}
.hiddenMenu-item.delete {
  opacity: 0.7;
}
.hiddenMenu-item.delete h5,
.hiddenMenu-item.delete svg {
  stroke: rgb(199, 2, 2);
  color: rgb(199, 2, 2);
}
.hiddenMenu-item.delete:hover {
  opacity: 1;
}/*# sourceMappingURL=messagePost.css.map */