@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
}
button {
	background: none;
	border: none;
	cursor: pointer;
}
body.modalActive {
	overflow: hidden;
}
body.load {
	overflow: hidden;
}
