$maxVisibleMedia: 4;
$maxVisibleMediaInColum: $maxVisibleMedia / 2 + 1;

.image-table {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	min-height: 190px;
	height: 100%;
	width: 100%;
	gap: 10px;
	box-sizing: border-box;

	& > * {
		-moz-box-align: stretch;
		-moz-box-direction: normal;
		-moz-box-orient: vertical;
		max-height: 100%;
		display: flex;
		flex: 1 1 0px;
		flex-direction: column;
		align-items: stretch;
		row-gap: 10px;
	}
	.image-item,
	.video-wrapper {
		max-height: 45vh;
		border-radius: 10px;
		object-fit: cover;
		width: 100%;
		height: 100%;
		max-width: 600px;
		cursor: pointer;
		overflow: hidden;
	}
	.video-wrapper {
		position: relative;
		svg {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			pointer-events: none;
			margin: auto;
			display: block;
			fill: #fff;
			stroke: #fff;
			opacity: 0.75;
			width: 8%;
			min-width: 25px;
		}
	}
	.colum-1.hidden > *:nth-child(n + #{$maxVisibleMediaInColum}),
	.colum-2.hidden > *:nth-child(n + #{$maxVisibleMediaInColum}) {
		opacity: 1;
		display: none;
		pointer-events: none;
	}
}
.ImageMessageContent {
	margin-top: 15px;
}
.ImageMessageContent .seeAllBtn {
	font-size: 14px;
	color: var(--main-elements-color);
	width: 100%;
	padding: 3px 0px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid var(--main-elements-color);
	opacity: 0.7;
	background-color: var(--alpha1);
	transition: opacity linear 0.2s;
	margin-top: 5px;

	@media (hover: "hover") {
		&:hover {
			opacity: 1;
		}
	}
	@media (hover: "none") {
		&:active {
			opacity: 1;
		}
	}
}
