.delete-btns {
	display: flex;
	margin-top: 10px;
	justify-content: flex-end;

	.deleteBtn-item {
		padding: 8px 15px;
		background: #ced2d6;
		border-radius: 10px;
		font-weight: 600;
		font-family: "Nunito", sans-serif;
		font-size: 14px;
		margin-right: 10px;

		&.main {
			background: #00aaec;
			color: #fff;
		}
	}
}
