.header {
	background-color: #fff;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
	padding: 6px 0px;
	position: fixed;
	width: 100%;
	top: 0;
	border-bottom: 2px solid rgb(146, 146, 146);
	z-index: 10;

	.container {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		align-items: center;
	}
	.user-avatar img,
	.NullAvatar {
		height: 32px;
		width: 32px;
	}
}
.navItem-wrapper {
	text-transform: uppercase;
	font-family: "Nunito", sans-serif;
	font-weight: 600;
	font-size: 18px;
}
.logo {
	width: 32px;
	height: 32px;
}
.logo-box {
	height: 32px;
	a {
		display: block;
		height: 32px;
	}
}
.unite-wrapper {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	position: relative;
	justify-content: flex-end;
	& > *:not(:last-child) {
		margin-right: 10px;
	}
}
.header .search {
	box-sizing: border-box;
	flex: 1 1 auto;
	max-width: 270px;
	display: flex;
	align-items: center;
	padding: 7px 10px;
	border-radius: 18px;
	border: 1.6px solid rgb(202, 202, 202);
	background-color: rgb(235, 235, 235);
	input {
		border: none;
		background: transparent;
		flex: 1 1 auto;
		margin-right: 5px;
	}
	button {
		height: 16px;
		opacity: 0.7;
		&:hover {
			opacity: 0.9;
		}
	}
}

.go-back-btn {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	align-items: center;
	display: none;
	.pointer-left {
		width: 10px;
		height: 6.3px;
		position: relative;

		span,
		&::after {
			position: absolute;
			display: block;
			content: "";
			height: 2px;
			width: 8px;
			background: #000;
			left: 0;
		}
		span {
			transform: rotate(45deg);
			bottom: 0;
		}
		&::after {
			transform: rotate(-45deg);
			top: 0;
		}
	}
}
.header.canClose {
	.go-back-btn {
		display: flex;
	}
}

@media (max-width: 570px) {
	.header.canClose {
		.logo-box {
			display: none;
		}
	}
	.header .container {
		justify-content: space-between;
		.search {
			max-width: 100%;
		}
	}
	.go-back-btn__text {
		display: none;
	}
	.go-back-btn {
		width: 32px;
		height: 20px;
	}
	.go-back-btn .pointer-left {
		height: 7.8px;
		margin: auto;
		span,
		&::after {
			width: 10px;
		}
	}
	.write-message {
		display: none;
	}
	.unite-wrapper a {
		margin-right: 0 !important;
	}
}
