.HashtagElement {
	background: var(--main-bg-color);
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	font-family: "Nunito", sans-serif;
	width: 100%;

	&:not(:first-child) {
		margin-top: 6px;
	}

	&-icon {
		svg {
			stroke: var(--main-elements-color);
			height: 100%;
			width: 100%;
		}
		width: 20px;
		height: 20px;
		margin-right: 10px;
	}
	&-title {
		h3 {
			font-size: 18px;
			color: var(--main-elements-color);
		}
	}
	&-mesCount {
		margin-left: 5px;
		opacity: 0.8;
		h4 {
			color: var(--main-elements-color);
			font-size: 16px;
		}
	}
}
