.SearchComponent--wrapper {
  max-width: 270px;
  position: relative;
  flex: 1 1 auto;
  height: 32px;
}

.SearchComponent {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  padding: 7px 10px;
  border-radius: 18px;
  background-color: var(--second-bg-color);
  z-index: 5;
  height: 100%;
  width: 100%;
}
.SearchComponent-input {
  border: none;
  background: transparent;
  flex: 1 1 auto;
  height: 25px;
  margin-right: 5px;
  letter-spacing: 1.3px;
  color: var(--main-elements-color);
}
.SearchComponent-btn {
  height: 16px;
  opacity: 0.7;
}
.SearchComponent-btn svg {
  fill: var(--main-elements-color);
}
@media (hover: hover) {
  .SearchComponent-btn:hover {
    opacity: 0.9;
  }
}
@media (hover: none) {
  .SearchComponent-btn:active {
    opacity: 0.9;
  }
}

.searchOfModel {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: var(--alternative-bg-color);
  z-index: 2;
  max-height: 340px;
  overflow-y: auto;
  margin-top: 7.6px;
  padding: 15px 0px 5px;
  border-radius: 0px 0px 10px 10px;
  box-sizing: border-box;
  display: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.08);
  scrollbar-width: 5px;
  scrollbar-color: var(--alpha6);
}
.searchOfModel::-webkit-scrollbar {
  width: 5px;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 5px solid transparent;
  position: absolute;
}
.searchOfModel::-webkit-scrollbar-track {
  background: transparent;
  opacity: 0;
  border-right: 5px solid transparent;
  padding-right: 5px;
}
.searchOfModel::-webkit-scrollbar-thumb {
  background-color: var(--alpha6);
  border-radius: 3px;
  border-right: 5px solid transparent;
  padding-right: 5px;
}
.searchOfModel.active {
  display: block;
}
.searchOfModel-item {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
  opacity: 0.7;
  transition: opacity 0.5s linear;
}
@media (hover: hover) {
  .searchOfModel-item:hover {
    opacity: 1;
  }
}
@media (hover: none) {
  .searchOfModel-item:active {
    opacity: 1;
  }
}
.searchOfModel .loader-wrapper {
  height: 40px;
  width: 100%;
  position: relative;
}
.searchOfModel-loader {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  border: 3px solid var(--main-elements-color);
  border-top: 3px solid transparent;
  animation: loader 1s linear infinite;
  -o-animation: loader 1s linear infinite;
  border-radius: 50%;
  box-sizing: border-box;
}
.searchOfModel .request-message {
  padding-bottom: 10px;
}
.searchOfModel .request-message h5 {
  text-align: center;
  color: var(--alpha7);
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.searchElements-wrapper {
  margin-bottom: 10px;
}
.searchElements-wrapper .searchElements-title {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  color: var(--main-elements-color);
  letter-spacing: 0.3px;
  padding-left: 10px;
  line-height: 16px;
}
.searchElements-wrapper .searchElements {
  margin-top: 10px;
}
.searchElements-wrapper .mutualFriends {
  display: flex;
  margin-left: 3px;
  align-items: center;
}
.searchElements-wrapper .mutualFriends .avatar-list {
  display: flex;
}
.searchElements-wrapper .mutualFriends .UserAvatar {
  height: 17px;
  width: 17px;
  box-sizing: content-box;
  transition: border-color 0.2s linear;
}
.searchElements-wrapper .mutualFriends .UserAvatar:not(:first-child) {
  border-left: 2px solid var(--alternative-bg-color);
  margin-left: -4px;
}
.searchElements-wrapper .mutualFriends .user-count {
  text-align: start;
  color: var(--alpha7);
  font-size: 11px;
  font-family: "Nunito", sans-serif;
  margin-left: 5px;
}
.searchElements-wrapper .userElement,
.searchElements-wrapper .hashtagElement {
  display: flex;
  width: 100%;
  padding: 3px 10px;
  box-sizing: border-box;
  align-items: center;
  transition: background 0.2s linear;
}
.searchElements-wrapper .userElement-avatar .UserAvatar,
.searchElements-wrapper .userElement .hashtagElement-icon,
.searchElements-wrapper .hashtagElement-avatar .UserAvatar,
.searchElements-wrapper .hashtagElement .hashtagElement-icon {
  height: 35px;
  width: 35px;
  border: none;
}
@media (hover: hover) {
  .searchElements-wrapper .userElement:hover,
  .searchElements-wrapper .hashtagElement:hover {
    background: var(--alternative-bg-color--hover);
  }
}
@media (hover: none) {
  .searchElements-wrapper .userElement:active,
  .searchElements-wrapper .hashtagElement:active {
    background: var(--alternative-bg-color--hover);
  }
}
.searchElements-wrapper .hashtagElement-icon {
  border-radius: 50%;
  background-color: var(--blue-btn-color);
  position: relative;
}
.searchElements-wrapper .hashtagElement-icon svg {
  position: absolute;
  stroke: #fff;
  width: 62%;
  height: 62%;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  margin: auto;
  display: block;
}
.searchElements-wrapper .info-wrapper {
  margin-left: 7px;
}
.searchElements-wrapper .info-wrapper .name {
  text-align: start;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: var(--main-elements-color);
}/*# sourceMappingURL=SearchInput.css.map */