.Loader {
	position: relative;
	width: 40px;
	height: 40px;
}
.Loader div {
	transform-origin: 20px 20px;
	animation: Loader 1.2s linear infinite;
}
.Loader div:after {
	content: "";
	display: block;
	position: absolute;
	top: 6px;
	left: 35px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: var(--alpha5);
}
.Loader div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -0.9s;
}
.Loader div:nth-child(2) {
	transform: rotate(36deg);
	animation-delay: -0.8s;
}
.Loader div:nth-child(3) {
	transform: rotate(calc(36deg * 2));
	animation-delay: -0.7s;
}
.Loader div:nth-child(4) {
	transform: rotate(calc(36deg * 3));
	animation-delay: -0.6s;
}
.Loader div:nth-child(5) {
	transform: rotate(calc(36deg * 4));
	animation-delay: -0.5s;
}
.Loader div:nth-child(6) {
	transform: rotate(calc(36deg * 5));
	animation-delay: -0.4s;
}
.Loader div:nth-child(7) {
	transform: rotate(calc(36deg * 6));
	animation-delay: -0.3s;
}
.Loader div:nth-child(8) {
	transform: rotate(calc(36deg * 7));
	animation-delay: -0.2s;
}
.Loader div:nth-child(9) {
	transform: rotate(calc(36deg * 8));
	animation-delay: -0.1s;
}
.Loader div:nth-child(10) {
	transform: rotate(calc(36deg * 9));
	animation-delay: -0s;
}

@keyframes Loader {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
