.MediaSlider__wrapper {
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.8);

	.media {
		display: flex;
		margin: auto;
		max-width: 80%;
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 100;
		max-height: 97%;
		right: 0;
		left: 0;
		align-items: center;

		img,
		video {
			width: 100%;
			object-fit: contain;
			margin: auto;
			display: block;
			max-width: 100%;
			max-height: 100%;
			user-select: none;
		}
	}

	.slider {
		position: relative;
		flex: 1 1 auto;
	}
	.control-btn {
		z-index: 10;
		position: absolute;
		height: 100%;
		width: 20%;
		flex: 1 1 auto;
		content: "";
		top: 0;
		&.disabled {
			pointer-events: none;
			display: none;
		}
	}
	.next-btn {
		right: 0;

		svg {
			right: 0;
		}
	}
	.arrow-wrapper {
		height: 100%;
		width: 100%;
		position: relative;

		svg {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			stroke: #fff;
			height: 40px;
			width: 50px;
			opacity: 0.4;
			transition: opacity 0.2s linear;
		}
	}
	@media (hover: "hover") {
		.control-btn:not(.disabled) .arrow-wrapper:hover svg {
			opacity: 1;
		}
	}
	@media (hover: "none") {
		.control-btn:not(.disabled) .arrow-wrapper:active svg {
			opacity: 1;
		}
	}

	.tool-bar-menu {
		width: 100%;
		padding: 8px 20px;
		align-items: center;
		display: flex;
		background-color: rgba(0, 0, 0, 0.7);
		justify-content: space-between;
		box-sizing: border-box;
		.close-modal {
			width: 30px;
			height: 30px;
			& span,
			&::after {
				background-color: #fff;
			}
			opacity: 0.7;
			&:hover {
				opacity: 1;
			}
			@media (hover: "hover") {
				&:hover {
					opacity: 1;
				}
			}
			@media (hover: "none") {
				&:active {
					opacity: 1;
				}
			}
		}
	}
	.element-index {
		font-family: "Nunito", sans-serif;

		span {
			color: #fff;
			font-size: 17px;
			letter-spacing: 1px;
		}
	}
}
