%MessageElement {
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	color: var(--main-elements-color);
	width: 100%;

	.user-info {
		display: flex;
		.user-name {
			line-height: 20.5px;
			font-weight: 600;
		}
		.user-email {
			margin-left: 5px;
			color: var(--alpha6);
		}
	}
	.TextMessageContent {
		margin-top: 5px;
		padding: 0px 5px;
		font-size: 16px;
		.text {
			word-break: break-all;
			white-space: pre-wrap;
		}
		.text,
		.hashtag {
			font-family: "Nunito", sans-serif;
			font-size: inherit;
			display: inline-block;
			line-height: 18px;
		}
		.hashtag {
			color: #00aaec;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.RetweetMessage {
	@extend %MessageElement;
	border: 2px solid var(--alpha3);
	margin-top: 10px;
	margin-bottom: 10px;

	&_user-information {
		display: flex;
		align-items: center;
		.UserAvatar {
			height: 30px;
			width: 30px;
		}
		.user-name {
			margin-left: 5px;
			font-size: 16px;
		}
		.user-email {
			font-size: 15px;
		}
	}
}
