.profile-cover {
	background-position: center;
	aspect-ratio: 2.5;
	max-height: 251px;
	width: 100%;
	background-size: cover;
	padding-top: 25px;
	margin-bottom: -25px;
	border-radius: 10px 10px 0px 0px;
	position: relative;
}

.edit-cover {
	cursor: pointer;
	background-color: var(--delta5);
	position: absolute;
	right: 0;
	top: 0;
	margin: var(--basic-padding-horizontally) var(--basic-padding-horizontally)
		0px 0px;
	padding: 6px 12px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	color: var(--main-elements-color);
}

.edit-cover__title {
	margin-left: 5px;
}

.edit-cover__icon,
.edit-cover__icon > svg {
	fill: var(--main-elements-color);
	width: 18px;
	height: 18px;
}

@media (hover: "hover") {
	.edit-cover:hover {
		background-color: var(--main-bg-color);
	}
}
@media (hover: "none") {
	.edit-cover:active {
		background-color: var(--main-bg-color);
	}
}
