%commonButton {
	border-radius: 8px;
	display: block;
	text-align: center;
	padding: 7px 16px;
	font-family: "Nunito", sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: var(--main-elements-color);
	transition: background 200ms linear;
	background-color: var(--cancel-btn);
	@media (hover: "hover") {
		&:enabled:hover {
			background-color: var(--cancel-btn-hover);
		}
	}
	@media (hover: "none") {
		&:enabled:active {
			background-color: var(--cancel-btn-hover);
		}
	}
}

.commonButton {
	@extend %commonButton;
}

.buttonBlue {
	@extend %commonButton;
	background-color: var(--blue-btn-color);
	color: #fff;
	&:disabled {
		background-color: var(--cancel-btn);
	}
	svg {
		fill: #fff;
	}
	@media (hover: "hover") {
		&:enabled:hover {
			background-color: var(--blue-btn-color-hover);
		}
	}
	@media (hover: "none") {
		&:enabled:active {
			background-color: var(--blue-btn-color-hover);
		}
	}
}
