.profile-header {
  font-family: "Nunito", sans-serif;
  margin: 15px 0px;
}

.userMessagesList {
  margin: 15px 0px;
}

.userInfo-insideWrapper {
  background: var(--main-bg-color);
  width: 100%;
  border-radius: 10px;
  padding: 20px 20px;
  box-sizing: border-box;
  position: relative;
}
.userInfo-insideWrapper .user-shortInfo {
  margin-top: 5px;
  color: var(--alpha8);
  font-size: 14px;
  font-weight: 500;
  width: 95%;
  word-break: break-all;
  line-height: 19px;
}
@media (max-width: 600px) {
  .userInfo-insideWrapper .user-shortInfo {
    margin-top: 10px;
  }
}

.userInfo {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.userInfo .buttonBlue {
  margin-left: auto;
}
.userInfo .buttonBlue a,
.userInfo .buttonBlue h5 {
  color: inherit;
  font-size: inherit;
}
.userInfo__avatar {
  margin-top: -95px;
  width: 150px;
}
.userInfo__avatar > * {
  border: 4px solid var(--main-bg-color);
}
.userInfo .UserAvatar {
  height: auto;
  width: 150px;
  aspect-ratio: 1/1;
}
.userInfo .info-about-user {
  margin-left: 15px;
}
.userInfo .user-name {
  font-weight: 700;
  min-width: 250px;
  font-size: 26px;
  line-height: 28px;
  height: 28px;
  color: var(--main-elements-color);
}
.userInfo .user-email {
  height: 15px;
  min-width: 200px;
  margin-top: 1px;
  font-size: 16px;
  line-height: 15px;
  opacity: 0.8;
  color: var(--alpha7);
}
.userInfo .user-email,
.userInfo .user-name {
  border-radius: 5px;
}
.userInfo .subscribe-button h5,
.userInfo .subscribe-already-button h5 {
  font-size: inherit;
}
.userInfo .subscribe-already-button {
  background: var(--grey-color-2);
}
.userInfo .subscribe-already-button:enabled:hover {
  background: var(--alternative-bg-color--hover);
}
@media (max-width: 600px) {
  .userInfo {
    display: block;
  }
  .userInfo > * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .userInfo .user-name,
  .userInfo .buttonBlue {
    margin-top: 15px;
  }
  .userInfo .info-about-user {
    margin-left: 0;
  }
}

.profile-cover:hover .edit-cover {
  opacity: 1;
}

.userInfo-wrapper .edit-cover {
  transition: opacity 0.5s linear;
  opacity: 0;
}
.userInfo-wrapper .edit-cover:hover {
  background-color: var(--main-bg-color);
}

.userInfo-wrapper + .addMessage {
  display: flex;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  padding: 10px 20px 10px 15px;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
.userInfo-wrapper + .addMessage .title {
  color: var(--main-elements-color);
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}
.userInfo-wrapper + .addMessage .write-message-btn {
  height: 32px;
}

.noOneMessageTitle {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  color: var(--main-elements-color);
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
  box-sizing: border-box;
}

.userMessagesList {
  position: relative;
}

.moduleData_loader-wrapper .LoaderHorizontally {
  align-items: center;
}

.addMessage + .moduleData_loader-wrapper {
  margin-top: 10px;
}/*# sourceMappingURL=UserInfo.css.map */