.profile-header {
	font-family: "Nunito", sans-serif;
	margin-top: 25px;
}
.userMessagesList {
	margin-top: 15px;
}

.userInfo {
	display: flex;
	align-items: flex-start;
	width: 100%;
	background: var(--main-bg-color);
	border-radius: 10px;
	padding: 20px 20px;
	box-sizing: border-box;
	position: relative;

	.buttonBlue {
		margin-left: auto;
		a,
		h5 {
			color: inherit;
			font-size: inherit;
		}
	}

	&__avatar {
		margin-top: -95px;
		width: 150px;

		& > * {
			border: 4px solid var(--main-bg-color);
		}
	}
	.UserAvatar {
		height: auto;
		width: 150px;
		aspect-ratio: 1/1;
	}
	.info-about-user {
		margin-left: 15px;
	}
	.user-name {
		font-weight: 700;
		min-width: 250px;
		font-size: 26px;
		line-height: 28px;
		height: 28px;
		color: var(--main-elements-color);
	}
	.user-email {
		height: 15px;
		min-width: 200px;
		margin-top: 5px;
		font-size: 16px;
		line-height: 15px;
		opacity: 0.8;
		color: var(--main-elements-color);
	}
	.user-email,
	.user-name {
		border-radius: 5px;
	}
	.subscribe-button,
	.subscribe-already-button {
		h5 {
			font-size: inherit;
		}
	}
	.subscribe-already-button {
		background: #7d8387;
	}

	@media (max-width: 600px) {
		& {
			display: block;
		}
		& > * {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		.user-name,
		.ButtonBlue {
			margin-top: 10px;
		}
		.info-about-user {
			margin-left: 0;
		}
	}
}
.profile-cover:hover .edit-cover {
	opacity: 1;
}
.userInfo-wrapper .edit-cover {
	transition: opacity 0.5s linear;
	opacity: 0;

	&:hover {
		background-color: var(--main-bg-color);
	}
}
